@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Roboto:wght@300;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.headerNav .navbar{
    background-color: transparent !important;
}
#navbarNav{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
li{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.imgNavBrand{
    border-radius: 50px !important;
}
.divContainer{
    margin-top: 5% !important;
}
.h4Hi{
    margin-left: 30% !important;
    font-family: 'Inconsolata', monospace !important;
    color:rgb(167, 167, 167);
}
.h1Name{
    margin-left: 30% !important;
    margin-top: 9% !important;
    text-align: left;
}
.divIcons{
    margin-left: 30% !important;
    margin-top: 3% !important;
    color:rgb(167, 167, 167);
}
.divIcons i{
    margin-left: 2% !important;
    margin-right: 2% !important;
    font-size: 18px !important;
}