@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Roboto:wght@300;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.headerNav .navbar{
    background-color: transparent !important;
}
.headerNav {
    background: url(../assets/img/manchas-acuarela-moradas.jpg) no-repeat center;
    min-height: 100vh;
}
#navbarNav{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
li{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.imgNavBrand{
    border-radius: 50px !important;
}
.divContainer{
    margin-top: 4% !important;
}
.h4Hi{
    margin-left: 30% !important;
    font-family: 'Inconsolata', monospace !important;
    color:rgb(97, 94, 94);
}
.h1Name{
    margin-left: 30% !important;
    margin-top: 9% !important;
    text-align: left;
    color:rgb(63, 58, 58);
}
.divIcons{
    margin-left: 30% !important;
    margin-top: 3% !important;
}
.divIcons i{
    margin-left: 2% !important;
    margin-right: 2% !important;
    font-size: 18px !important;
}
.divIcons a{
    text-decoration: none !important;
    font-size: 22px !important;
    color:rgb(97, 94, 94);
}
i:hover{
    cursor: pointer;
}
.btn-grad {
    margin-top: 8% !important;
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 14px !important;
}
.btn-grad:hover {
  background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btn-grad a{
    color: #fff !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.containerButton{
    margin-left: 30% !important;
}
.containerHobbies ul{
    margin-left: 40% !important;
    background-color: transparent !important;
}